@using MvcSiteMapProvider
@{
    ViewBag.Title = "_ContentLayout";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section styles{
    @RenderSection("styles", false)
}
<div id="main-content" class="clearfix">

    <div id="breadcrumbs" style="margin-bottom:10px;">
        <ul class="breadcrumb">
            <i class="icon-home"></i>
            <li class="active">@Html.MvcSiteMap().SiteMapPath()</li>
        </ul>
        <!--.breadcrumb-->

    </div>
    <div id="page-content" class="clearfix">
        @RenderBody()
    </div>


</div>

    @RenderSection("rightsidebar",false)

@section  scripts{
    @RenderSection("scripts", false)
}