<!DOCTYPE html>
<html lang="zh">
    <head>
        <title>项目管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

     
        @Styles.Render("~/Content/css/template")

         @Styles.Render("~/Content/css")


        @RenderSection("styles",false)

        
    @Scripts.Render("~/bundles/jquery")
    </head>
    <body>

        @RenderBody()


    @Scripts.Render("~/bundles/template")
    @RenderSection("scripts",false)
        </body>
</html>
