<!DOCTYPE html>
<html lang="zh">
    <head>
        <title>项目管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

     
        @Styles.Render("~/Content/css/template")

         @Styles.Render("~/Content/css/base")


        @RenderSection("styles",false)

        @Scripts.Render("~/bundles/jquery")
        
    </head>
    <body style="height: 100%;">
        <div id="div">
        @RenderBody()
        </div>
    <div id="overlay">
        <img src="../../Content/img/ajax-loader2.gif" class="loading_circle" />
    </div>

    @Scripts.Render("~/bundles/template"
                   ,"~/Scripts/site.js")
    @RenderSection("scripts",false)
        </body>
</html>
