@model TaskIndexModel
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}
@section styles{
    <style type="text/css">
        .td-worker {
            width: 18%;
        }

        .td-content {
            width: 72%;
        }
    </style>
}
<form class="form-search" action="@Url.Action("index")" method="get" >
    版本:
    <select class="select-small" name="version">
        <option value="" >不限</option>
        @foreach (ProjectVersion version in Model.Versions)
        {
            <option value="@version.VersionName" @(version.VersionName == Model.Version ? "selected=selected" : "")>@version.VersionName</option>
        }
    </select>

    需求: 
        <select class="select-small" id="requirement" name="requirement">
            <option  value="">不限</option>
            @foreach (Requirement re in Model.Requirements)
            {
                <option value="@re.Title" @(re.Title == Model.Requirement ? "selected=selected" : "")>@re.Title</option>
            }
        </select>
    状态:<select class="select-small" id="status" name="status">
        <option  value="">不限</option>
        @foreach (TaskStatusModel status in Model.Statuses)
        {
            <option value="@status.GetByteEnumValue()" @(status == Model.Status ? "selected=selected" : "")>@status.GetEnumDescription()</option>
        }
    </select>
    用户:<select class="select-small" id="user" name="user">
        <option  value="">不限</option>
        @foreach (ProjectParticipator user in Model.Users)
        {
            <option value="@user.User.UserName" @(user.User.UserName == Model.User ? "selected=selected" : "")>@user.User.UserName </option>
        }
    </select>
    <a href="javascript:void(0);" id="hrefSearch" class="btn btn-purple btn-small">
        查询
		<i class="icon-search icon-on-right bigger-110"></i>
    </a>

    <a href="javascript:void(0);" class="plan">显示所有计划</a>

    <a class="btn pull-right btn-small btn-success" href="@Url.Action("new")">
        <i class="icon-plus"></i>添加任务</a>
</form>

<div>
    <table class="table table-bordered table-norightborder">
        <thead>
            <tr>
                <th>创建时间
                </th>
                <th>最后更新
                </th>
                <th>版本 
                </th>
                <th>需求
                </th>

                <th colspan="4" class="td-content td-right " class="td-right"></th>
            </tr>
        </thead>
        @foreach (ProjectTask task in Model.Tasks)
        {
            <tbody>
                <tr>
                    <td class="td-seprow" colspan="8">
                          <input type="hidden" value="@task.History" class="hidHistory" />
                    </td>
                </tr>
                <tr class="info">
                    <td class="td-right td-content " colspan="8">
                        @task.Content
                    </td>
                </tr>
                <tr>
                    <td class="tr-twoRow">@task.CreateTime.ToStandardString()<br />
                        @task.User.UserName<br />
                        <a href="javascript:void(0);" class="hrefHistory">查看历史记录</a>
                    </td>
                    <td class="tr-twoRow">@task.UpdateTime.ToStandardString()<br />
                        状态:@task.StatusEnum.GetEnumDescription()<br />
                        <a href="javascript:void(0);" class="hrefPlan">显示计划</a>
                    </td>

                    <td class="tr-twoRow">
                        @(task.Requirement != null ? task.Requirement.ProjectVersion.VersionName : "--")
                    </td>
                    <td class="tr-twoRow">
                        <a href="#">@(task.Requirement != null ? task.Requirement.Title : "--")</a>
                    </td>
                    <td class="td-worker">
                    @{

            Html.RenderPartial("_RolePartial", new TaskRolePartialModel
            {
                Task = task,
                Role = RoleEnum.Designer,
                Users = Model.Users
            });
                    }
                    </td>
                    <td class="td-worker">
                    @{
            Html.RenderPartial("_RolePartial", new TaskRolePartialModel
            {
                Task = task,
                Role = RoleEnum.Developer,
                Users = Model.Users
            });
                    }
                    </td>
                    <td class="td-worker">
                     @{
            Html.RenderPartial("_RolePartial", new TaskRolePartialModel
            {
                Task = task,
                Role = RoleEnum.Tester,
                Users = Model.Users
            });
                     }
                    </td>
                    <td class="td-worker td-right">
                     @{
            Html.RenderPartial("_RolePartial", new TaskRolePartialModel
            {
                Task = task,
                Role = RoleEnum.Operator,
                Users = Model.Users
            });
                    }
                </tr>

                <tr class="hide tr-plan">
                    <td></td>
                    <td>状态:未分配 <a href="">修改计划</a><br />
                        计划:暂无
                    </td>
                    <td>状态:未分配 <a href="">修改计划</a><br />
                        计划:06-12 16:00 至  06-13 18:00
                    </td>
                    <td class="td-right">状态:未分配 <a href="">修改计划</a><br />
                        计划:暂无
                    </td>
                </tr>
            </tbody>
        }

        @*  <tbody>

            <tr>
                <td class="td-seprow" colspan="8"></td>
            </tr>
            <tr class="info">
                <td class="td-right td-content " colspan="8">asdfasdfffffffffffffffffffffffffffffffffffffffffffffffffffffff ffffffasdfasdfasdfasdfasdfffffffffffffffffffffffffffffffffffffffffffffffffff ffffffffffasdfasdfasdfasdfasdfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffasdfasdfasdfasdfasdffffffffff fffffffffffffffffffffffffffffffffffffffffffffffffffasdfasdfasdfasdfasdffffffffff fffffffffffffffffffffffffffffffffffffffffffffffffffasdfasdfasdfasdfasdfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffasdfasdfasdf
                </td>
            </tr>
            <tr>
                <td rowspan="2">2013-06-12 14:44<br />
                    liuhasiy@hotmail.com<br />
                    <a href="">查看历史记录</a>
                </td>
                <td rowspan="2">2013-06-16 18:00<br />
                    状态:分配中
                </td>

                <td rowspan="2">0.1
                </td>
                <td rowspan="2">
                    <a href="#">显示任务</a>
                </td>
                <td class="td-worker">设计:<select class="select-small">
                    <option>liujiangtao@hotmai.com</option>
                    <option>----</option>
                    <option>待定</option>
                </select>
                    <a href="#">设计图</a>
                </td>
                <td class="td-worker">开发:<select class="select-small">
                    <option>待定</option>
                    <option>liujiangtao@hotmai.com</option>
                </select>
                    <a href="">接受</a>

                </td>
                <td class="td-worker">测试:<select class="select-small">
                    <option>liujiangtao@hotmai.com</option>
                    <option>待定</option>
                </select>
                    <a href="#">测试用例</a>
                </td>
                <td class="td-worker td-right">运维:<select class="select-small">
                    <option>待定</option>
                </select>
                    <a href="#">统一运维</a>

                </td>
            </tr>

            <tr>
                <td></td>
                <td>状态:未分配 <a href="">修改计划</a><br />
                    计划:暂无
                </td>
                <td>状态:未分配 <a href="">修改计划</a><br />
                    计划:06-12 16:00 至  06-13 18:00
                </td>
                <td class="td-right">状态:未分配 <a href="">修改计划</a><br />
                    计划:暂无
                </td>
            </tr>
        </tbody>*@

    </table>
    @{
        Html.RenderPartial("_PagerPartial", new SharedPagerModel
        {
            Html = this.Html,
            Action = Url.Action("index"),
            PagerModel = Model
        });
    }

    <div class="modal hide fade" id="modalHistory">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4>历史记录</h4>
        </div>
        <div class="modal-body">
            <div class="" id="modalContent">One fine body…</div>
        </div>
        <div class="modal-footer">
        </div>
    </div>

</div>

@section scripts{
    
    <script type="text/javascript">
        var enableUrl = '@Url.Action("RoleEnable")';

        var disableUrl = '@Url.Action("RoleDisable")';

        var assignUrl = '@Url.Action("RoleAssign")';
    </script>

    @Scripts.Render("~/Scripts/task.index.js")

}