@model TaskIndexModel
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}
@section styles{
    <style type="text/css">
        .td-worker {
            width: 18%;
            vertical-align:middle;
        }

        .td-worker div{
            vertical-align:middle;

        }
        .td-content {
            width: 72%;
        }
    </style>
}
<form class="form-search" action="@Url.Action("index")" method="get" >
    版本:
    <select class="select-small" name="version">
        <option value="" >不限</option>
        @foreach (ProjectVersion version in Model.Versions)
        {
            <option value="@version.VersionName" @(version.VersionName == Model.Version ? "selected=selected" : "")>@version.VersionName</option>
        }
    </select>

    需求: 
        <select class="select-small" id="requirement" name="requirement">
            <option  value="">不限</option>
            @foreach (Requirement re in Model.Requirements)
            {
                <option value="@re.Title" @(re.Title == Model.Requirement ? "selected=selected" : "")>@re.Title</option>
            }
        </select>
    状态:<select class="select-small" id="status" name="status">
        <option  value="">不限</option>
        @foreach (TaskStatusModel status in Model.Statuses)
        {
            <option value="@status.GetByteEnumValue()" @(status == Model.Status ? "selected=selected" : "")>@status.GetEnumDescription()</option>
        }
    </select>

    角色:<select class="select-small" id="role" name="role">
        <option  value="">不限</option>
        @foreach (RoleEnum role in Model.Roles)
        {
            <option value="@role.GetByteEnumValue()" @(role == Model.Role ? "selected=selected" : "")>@role.GetEnumDescription()</option>
        }
       </select>
    用户:<select class="select-small" id="user" name="user">
        <option  value="">不限</option>
        @foreach (ProjectParticipator user in Model.Users)
        {
            <option value="@user.User.UserName" @(user.User.UserName == Model.User ? "selected=selected" : "")>@user.User.UserName </option>
        }
    </select>
    <a href="javascript:void(0);" id="hrefSearch" class="btn btn-purple btn-small">
        查询
		<i class="icon-search icon-on-right bigger-110"></i>
    </a>

    <a href="javascript:void(0);" class="plan">显示所有计划</a>

    <a class="btn pull-right btn-small btn-success" href="@Url.Action("new")">
        <i class="icon-plus"></i>添加任务</a> 
    
    <br />

    我的未完任务：
    <a href="">设计</a>
    <a href="">开发</a>
    <a href="">测试</a>
    <a href="">设计</a>
</form>

<div>
    <table class="table table-bordered table-norightborder">
        @*<thead>
            <tr>
                <th>创建时间
                </th>
                <th>最后更新
                </th>
                <th>版本 
                </th>
                <th>需求
                </th>

                <th colspan="4" class="td-content td-right " class="td-right"></th>
            </tr>
        </thead>*@
        @foreach (ProjectTask task in Model.Tasks)
        {
            @:<tbody>
            Html.RenderPartial("_TaskPartial", new TaskModel
            {
                Task = task,
                Users = Model.Users,
                UserRole = Model.UserRole
            });
            @:</tbody>
        }

      
    </table>
    @{
        Html.RenderPartial("_PagerPartial", new SharedPagerModel
        {
            Html = this.Html,
            Action = Url.Action("index"),
            PagerModel = Model
        });
    }

    <div class="modal hide fade" id="modalHistory">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4>历史记录</h4>
        </div>
        <div class="modal-body">
            <div class="" id="modalContent">One fine body…</div>
        </div>
        <div class="modal-footer">
        </div>
    </div>

</div>

@section scripts{
    
    <script type="text/javascript">
        var enableUrl = '@Url.Action("RoleEnable")';

        var disableUrl = '@Url.Action("RoleDisable")';

        var assignUrl = '@Url.Action("RoleAssign")';

        var takeUrl = '@Url.Action("RoleTake")';

        var startUrl = '@Url.Action("RoleStart")';

        var finishUrl = '@Url.Action("RoleFinish")';

        var cancelUrl = '@Url.Action("Cancel")';
    </script>

    @Scripts.Render("~/Scripts/task.index.js")

}