@model ProjectIndexModel

@{
    ViewBag.Title = "Index";
    ViewBag.PageTitle = "项目列表";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}


<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    项目名称
                </th>
                <th>
                    创建人
                </th>
                <th>
                    创建日期
                </th>
                <th>
                    开始日期
                </th>
                <th>
                    是否参与
                </th>
                <th>
                    状态
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(PMS.Model.Project item in Model.Projects)
            {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.User.UserName
                </td>
                <td>
                    @item.CreateTime.ToStandardDateString()
                </td>
                <td>
                    @(item.StartDate.HasValue?item.StartDate.Value.ToStandardDateString():"--")
                </td>
                <td>
                    <i class="icon-ok"></i>
                </td>
                <td>
                    @item.ProjectStatus.ToString()

                    @*<span class="label arrowed">未开始</span>*@
                </td>
                <td style="width:10%;">
                <div class="hidden-phone visible-desktop btn-group">
							<a href="@Url.Action("index", "home", new { project = item.Name })" class="btn btn-mini btn-info"><i class="icon-share-alt"></i></a>

                            <a href="@(item.AllowStart?Url.Action("list","project",new {projectId=item.ProjectId,op="start"}):"javascript:void(0);")" id="btnStart" class="btn btn-mini btn-success @(item.AllowStart?"":"disabled")"><i class="icon-play"></i></a>

                            <a href="@(item.AllowPause?Url.Action("list","project",new {projectId=item.ProjectId,op="pause"}):"javascript:void(0);")" id="btnPause" class="btn btn-mini btn-warning @(item.AllowPause?"":"disabled")"><i class="icon-pause"></i></a>

							<a href="@(item.AllowStop?Url.Action("list","project",new {projectId=item.ProjectId,op="stop"}):"javascript:void(0);")"id="btnStop" class="btn btn-mini btn-danger @(item.AllowStop?"":"disabled")"><i class="icon-stop"></i></a>
                
                            <a href="@Url.Action("list","project",new {projectId=item.ProjectId,op="delete"})" id="btnDelete" class="btn btn-mini" onclick='return confirm("删除后无法恢复，请确认是否删除！")'><i class="icon-remove"></i></a>
					</div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{
    <script type="text/javascript">
        var startUrl = '@Url.Action("Start","Project")';
        
    </script>
    @Scripts.Render("~/Scripts/project.index.js") 
}