@model ProjectIndexModel

@{
    ViewBag.Title = "Index";
    ViewBag.PageTitle = "项目列表";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    项目名称
                </th>
                <th>
                    创建人
                </th>
                <th>
                    创建日期
                </th>
                <th>
                    开始日期
                </th>
                <th>
                    是否参与
                </th>
                <th>
                    状态
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(PMS.Model.Project item in Model.Projects)
            {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.User.UserName
                </td>
                <td>
                    @item.CreateTime.ToStandardDateString()
                </td>
                <td>
                    @(item.StartDate.HasValue?item.StartDate.Value.ToStandardDateString():"--")
                </td>
                <td>
                    <i class="icon-ok"></i>
                </td>
                <td>
                    @item.ProjectStatus.ToString()

                    @*<span class="label arrowed">未开始</span>*@
                </td>
                <td style="width:10%;">
                <div class="hidden-phone visible-desktop btn-group">
							<button class="btn btn-mini btn-info"><i class="icon-share-alt"></i></button>
                            <button class="btn btn-mini btn-success"><i class="icon-play"></i></button>
                            <button class="btn btn-mini btn-warnning"><i class="icon-pause"></i></button>
							<button class="btn btn-mini btn-danger"><i class="icon-stop"></i></button>
					</div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>