@model RequirementModel
@{
    ViewBag.Title = "Master";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}
@section styles{
    @Styles.Render("~/Content/css/font-awesome.css"
                  ,"~/Content/css/jquery.treeview.css")
    @*@Styles.Render("~/Content/css/ace-button.css")*@
  
    @RenderSection("styles",false)
}
<div class="sidebar-right-content" id="divSidebarContent">
    @RenderBody()
</div>
@section rightsidebar{
    <div class="sidebar-right">
        @*<div class="actions">

            <div class="input-append">
                <input class="span2" type="text" />
                <button class="btn btn-info">搜索</button>

            </div>
            <br />

        </div>*@
        <br />
        <div>
            <div id="sidetreecontrol"><a href="?#">收起所有</a> | <a href="?#">展开所有</a></div>

            <ul id="tree" class="filetree">
                    @if(Model.RequirementChildren.Count()==0)
                    {
                        <br />
                        @:&nbsp; &nbsp; &nbsp; &nbsp;
                        <a href="@Url.Action("new","requirement")"><i class="icon-plus"></i>添加需求</a>
                    }
                    @Html.Partial("_SidebarPartial",Model.RequirementChildren)
                </ul>

    </div>
}

@section  scripts{
    @RenderSection("scripts", false)
    @Scripts.Render("~/Scripts/jquery.cookie.js"
                   ,"~/Scripts/jquery.treeview.js"
                   ,"~/Scripts/requirement.sidebar.js")
    
}