@model VersionIndexModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}
@section styles{
    <style type="text/css">
        .td-op {
            width:90px;
        }
    </style>   
}
<div>
    <div class="row-fluid">
        <div class="span12 text-center">
            <form class="form-inline" action="@Url.Action("create","version")" method="post">
            <input type="text" placeholder="版本"  name="name"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" class="btn btn-success btn-small" value="创建新版本" />
                </form>
        </div>
    </div>
</div>
<div class="table-header">
    当前版本
</div>
<div class="no-padding">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>版本</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>创建人</th>
                <th>创建时间</th>
                <th>需求</th>
                <th>操作</th>
            </tr>

        </thead>
        <tbody>
            @foreach(ProjectVersion item in Model.VersionList){
            <tr>
                <td>@item.VersionName</td>
                <td>@item.StartTime.ToStandardDateString()</td>
                <td>@item.EndTime.ToStandardDateString()</td>
                <td>@item.User.UserName</td>
                <td>@item.CreateTime.ToStandardDateString()</td>
                <td><a href="#">需求</a></td>
                <td class="td-op">
                    <a href="#" class="btn btn-mini btn-success" title="开始"><i class="icon-play"></i></a>
                    <a href="#"id="btnStop" title="结束" class="btn btn-mini btn-danger">
                        <i class="icon-stop"></i></a>
                      <a href="#" id="btnDelete" class="btn btn-mini" onclick='return confirm("删除后无法恢复，请确认是否删除！")'><i class="icon-remove"></i></a>
					
                </td>
                    
            </tr>
            }
        </tbody>
    </table>
</div>

<hr />

<div class="widget-box">
			<div class="widget-header header-color-blue">
				<h5 class="bigger lighter"><i class="icon-table"></i> 历史版本</h5>
			</div>
			
			<div class="widget-body">
			 <div class="widget-main no-padding">
			  <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>版本</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>创建时间</th>
                <th>创建人</th>
                <th>需求</th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td>1.0</td>
                <td>2013-05-24</td>
                <td>2013-05-21</td>
                <td>--</td>
                <td>Tony</td>
                <td><a href="#">需求</a></td>
            </tr>
            <tr>
                <td>1.0</td>
                <td>2013-05-24</td>
                <td>2013-05-21</td>
                <td>--</td>
                <td>Tony</td>
                <td><a href="#">需求</a></td>
            </tr>
        </tbody>
    </table>
			 </div>
			</div>
		</div>

<div class="pagination">
              <ul>
                <li class="disabled"><a href="#"><i class="icon-double-angle-left"></i></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"><i class="icon-double-angle-right"></i></a></li>
              </ul>
            </div>